{% extends "Diary/base.html" %}
{% block content %}
<h1>Jitpanoo Django Project</h1>
<div>
    <p>Welcome to the Jitpanoo Django project! Here, I have create a Diary type blogging page where every can post their thought.</p>
    <p>In this project I learned the basic of Django, HTML, and CSS. Aswell as some JavaScript</p>
    <p>Tell me where I can improve with this website!</p>
    <div>Please email me at <span class="fun-text">pjitpanoo@gmail.com</span></div>
    <div>Thank you and Let's Have Fun Coding!</div>
    <p></p>
    <footer>
        <p>&copy; 2023 Jitpanoo Django Project. All rights reserved.</p>
    </footer>
  </div>
{% endblock content %}
